body {
    margin: 0;
    text-align: center;
    font-family: "Akronim", "cursive";
}

h1 {
    margin: 50px, auto, 0, auto;
    font-family: "Akronim", "cursive";
    font-size: 562.5%;
    color: #1C0C5B;
}

h2 {

    color: #1C0C5B;
    font-family: "Akronim", "cursive";
    font-size: 70px;
    font-weight: normal;

}

h3 {

    color: #1C0C5B;
    font-family: "Akronim", "cursive";
    font-size: 50px;

}

p{

    font-size: 40px;
    font-family: 'Ephesis', cursive;

}

.top-container {
    background-color: #C996CC;
    padding-top: 100px;
    position: relative;
   

}


.skill-row {

    width: 50%;
    margin: 100px auto;

}

.tleft{

    text-align: left;
    line-height: 2;

}

.tleft-p{

    text-align: left;
    line-height: 2;
    font-size: 40px;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {

    margin: 100px 0px

}

.computer-pic{

    width: 25%;
    float: left;
    margin-right: 30px;

}

.special-skills{

    width: 25%;
    float: right;
    margin-left: 30px;

}

hr {

    border-top: 5px dotted #3D2C8D;
    width: 10%;
    margin: 100px auto;

}

.bottom-container{

    background-color: #916BBF;
    padding: 50px 0 20px;
}

.btn {
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3D2C8D;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #916BBF;
    text-decoration: none;
  }

  a{

    color: #1C0C5B;
    font-family: 'Ephesis', cursive;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{

    color: #916BBF;

}

.copywrite{

    color: white;
    
}